<%- include("partials/header") %>
<div class="container" style="margin-top: 3%;">
	<div class="card">
  		<div class="card-body" style="border-bottom: 2px solid white;">
    		<h5 class="card-title">Introduction:</h5>
    		<p class="card-text">Welcome to <b>PlaySphere</b>, your go-to source for all things gaming. Whether you're a casual player or a serious esports competitor, our site has something for everyone. We're dedicated to providing you with the latest news, reviews, and insights from the world of gaming.</p>
  		</div>

  		<div class="card-body" style="border-bottom: 2px solid white;">
    		<h5 class="card-title">Background:</h5>
    		<p class="card-text">Our team of experienced gamers and writers are passionate about the gaming industry and have been following its developments for years. We started <b>PlaySphere</b> to share our knowledge and love of gaming with others and create a community for like-minded gamers.</p>
  		</div>
  		<div class="card-body" style="border-bottom: 2px solid white;">
    		<h5 class="card-title">Mission:</h5>
    		<p class="card-text">Our mission is to provide gamers with accurate, reliable, and up-to-date information on the gaming industry. We aim to cover a wide range of topics, from new game releases to industry trends, and to offer our readers unique insights and analysis that they won't find anywhere else.</p>
  		</div>
  		<div class="card-body" style="border-bottom: 2px solid white;">
    		<h5 class="card-title">Values:</h5>
    		<p class="card-text">At <b>PlaySphere</b>, we value honesty, integrity, and passion. We strive to provide unbiased and honest opinions on the games and products we review, and we're committed to creating a welcoming and inclusive community for all gamers.</p>
  		</div>
	</div>

</div>

<%- include("partials/footer") %>