<%- include("partials/header") %>
<div class="container text-center" style="margin-top: 10%;">
	<div class="card">
  <div class="card-header">
    Contact us
  </div>
  <div class="card-body">
    <h5 class="card-title">Thanks for visiting our site !!!!</h5>
    <p class="card-text">Hope you had enjoyed by visiting and playing games in our site....<br>your 
		pleasure is our goal<br>
    	In future updates , we will update many games as possible ......<br>
    	<h5>Once again thanks for visiting us !!!!</h5>
    	<h6>If you had any issues or feedback ,</h6>
    </p>
    <a href="mailto:kishorekevin3289@hotmail.com" target="_blank" class="btn btn-danger"> mail us !!!  <i class="fa-solid fa-paper-plane"></i></a>
  </div>
</div>
</div>
<%- include("partials/footer") %>