<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PlaySphere - My Gaming Site</title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.png">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="container containerClass">
	<section class="navigation-section">
		<nav class="navbar navbar-dark navbar-expand-lg ">
		<a class="navbar-brand" href="/">PlaySphere <i class="fa-solid fa-volleyball"></i></a>
		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
				<li class="nav-item"><a href="/contact" class="nav-link">CONTACT</a></li>
				<li class="nav-item"><a href="/about" class="nav-link">ABOUT</a></li>
			</ul>
		</div>
		
	</nav>
	</section>